:root {
    --main-bg-black: #0E100F;
    --main-bg-green: #156669;
    --main-bg-cream: #EEECDE;
    --main-color-white: #FFFCE1;
    --color-surface50: #7c7c6f;
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%);
}
html {
    font-family: system-ui, sans-serif;
    background: var(--main-bg-green);
    color: var(--main-bg-cream);
}
@font-face {
    font-family: 'RocaRegular';
    src: url('/fonts/roca-one-regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Fira Code Variable', monospace;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--main-bg-cream);
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    color: var(--main-bg-cream);
    font-family: 'RocaRegular';
}

header {
    border-bottom: 0.5px solid var(--main-bg-cream);
    color: var(--main-bg-cream);
    padding-bottom: 1rem;
    nav {
        display: flex;
        align-items: center;

        .nav-links {
            margin: auto;
            display: flex;
            list-style-type: none;
            gap: 2rem;
            color: var(--main-bg-cream);
            font-size: 1.25rem;
            a:hover {
                color: var(--main-color-white);
                transition: color 0.2s ease-in-out;
            }
        }
    }
}

.button {
    border: none;
    outline: none;
    display: inline-block;
    width: 150px;
    font-weight: 500;
    height: 40px;
    line-height: 35px;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #FF8709;
    color: white;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
}

.label-up {
    display: block;
    margin: 0px 30px;
    height: 100%;
    position: relative;
    top: 0%;
    transition: 0.3s;
}

.button:hover .label-up {
    top: -100%;
}

.logo {
    font-size: 1.75rem;
}


/* First Fold */
.firstfold__wrapper {
    padding: 3rem 0 1rem 0;
    display: flex;
    gap: 1rem;
    color: var(--main-bg-cream);
    h2,p {
        margin: 0;
    }

    .firstfold__left {
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .firstfold__right {
        display: flex;
        width: 40%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    a {
        border-bottom: 1px dashed var(--main-bg-cream);
        position: relative;

        &:hover {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23EEECDE' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
            background-position: 0 100%;
            background-size: auto 6px;
            background-repeat: repeat-x;
            text-decoration: none;
            border-bottom: none;
            color: var(--text-color) !important;
        }
    }


    .window {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-image: radial-gradient(45% 45% at 45% 45%, rgb(0, 198, 71) 50%, rgba(0, 0, 0, 0) 51%), radial-gradient(45% 45% at 75% 75%, rgb(3, 69, 36) 50%, rgba(0, 0, 0, 0) 51%);
    background-size: 20px 20px;
    border-radius: 0px;
    background-position: 0px center;
    animation: 30s linear 0s infinite normal none running iAnRbO;
    }
    .nerd {
        max-width: 300px;
        margin: auto;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(53, 10px);
    grid-template-rows: repeat(7, 10px);
    gap: 3px;
}
.grid-item {
    width: 10px;
    height: 10px;
    background-color: #2d333b; /* default color */
}
.grid-item.level-1 { background-color: #0e4429; }
.grid-item.level-2 { background-color: #006d32; }
.grid-item.level-3 { background-color: #26a641; }
.grid-item.level-4 { background-color: #39d353; }